.vector-bross-feedback-form {
  padding: 20px;
  background-color: #003ecc;

  .rating-good {
    &:before {
      content: '';
      width: 140px;
      height: 70px;
      background-image: url("../images/reviews.png");
      background-size: contain;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

}

#feedback-container {
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .fieldgroup {
    margin-bottom: 0;
    margin-top: 10px;
  }

  legend {
    display: none;
  }

  .form-radios {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    .form-type--radio:not(:checked) > input {
      position:absolute;
      top:-9999px;
    }
    .form-type--radio:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      margin: 0 5px;
      color:#ccc;
    }

    .form-type--radio {
      margin: 0;
    }
    .form-type--radio:not(:checked) > label:before {
      content: '★ ';
      line-height: normal;
    }
    .form-type--radio > input:checked ~ label {
      color: #ffc700;
    }

    &:hover {
      .form-type--radio {
        label {
          color: #deb217;
        }
      }
    }
    & > .form-type--radio:hover ~ .form-type--radio {
      label {
        color: #ccc;
      }
    }

  }

  .rating-good {
    .placeholder {
      display: flex;
      a {
        display: block;
        padding: 20px;
        background-color: #FF0000;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &:hover {
          background-color: #b30000;
        }
      }
    }
  }

  .rating-bad {
    a {
      text-decoration: underline;
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ajax-progress {
    display: none !important;
  }
}
