@charset "UTF-8";
.vector-bross-feedback-form {
  padding: 20px;
  background-color: #003ecc;
}
.vector-bross-feedback-form .rating-good:before {
  content: '';
  width: 140px;
  height: 70px;
  background-image: url("../images/reviews.png");
  background-size: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#feedback-container {
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#feedback-container .fieldgroup {
  margin-bottom: 0;
  margin-top: 10px;
}
#feedback-container legend {
  display: none;
}
#feedback-container .form-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#feedback-container .form-radios .form-type--radio:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
#feedback-container .form-radios .form-type--radio:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  margin: 0 5px;
  color: #ccc;
}
#feedback-container .form-radios .form-type--radio {
  margin: 0;
}
#feedback-container .form-radios .form-type--radio:not(:checked) > label:before {
  content: '★ ';
  line-height: normal;
}
#feedback-container .form-radios .form-type--radio > input:checked ~ label {
  color: #ffc700;
}
#feedback-container .form-radios:hover .form-type--radio label {
  color: #deb217;
}
#feedback-container .form-radios > .form-type--radio:hover ~ .form-type--radio label {
  color: #ccc;
}
#feedback-container .rating-good .placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#feedback-container .rating-good .placeholder a {
  display: block;
  padding: 20px;
  background-color: #FF0000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#feedback-container .rating-good .placeholder a:hover {
  background-color: #b30000;
}
#feedback-container .rating-bad a {
  text-decoration: underline;
  color: #fff;
}
#feedback-container .rating-bad a:hover {
  text-decoration: none;
}
#feedback-container .ajax-progress {
  display: none !important;
}
