{#
/**
 * @file
 * Implementation for the CookieBot content embed code.
 *
 * @ingroup themeable
 */
#}
<script id="CookieDeclaration" data-culture="{{ langcode }}" src="{{ url }}" type="text/javascript" async></script>
