{#
/**
 * @file
 * Implementation for the Google review results block.
 *
 * @ingroup themeable
 */
#}
<div class="google-review-results--wrapper">
  {% if show_score %}
    <div class="score">
      {{ score }}
    </div>
  {% endif %}

  {% if show_stars %}
    <div class="stars">
      {{ score }} stars
    </div>
  {% endif %}

  <div class="reviews-count">
    {% if google_reviews_link %}
      {{ '<a href="@google_reviews_link">@reviews_count reviews</a> on <span class="google-logo">Google</span>'|t({'@reviews_count': reviews_count, '@google_reviews_link': google_reviews_link}) }}
    {% else %}
      {{ '@reviews_count reviews on <span class="google-logo">Google</span>'|t({'@reviews_count': reviews_count}) }}
    {% endif %}
  </div>
</div>
